<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MvcDemoEntities" connectionString="metadata=res://*/MvcDemo.csdl|res://*/MvcDemo.ssdl|res://*/MvcDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MvcDemo;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>